<h2 align="center">Breed fetch!</h2>

<hr>

<div align="center">
    <img [src]="imagePath" alt="Random image" style="max-width:400px;max-height:400px">
</div>
<br>

<div align="center">
    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <select class="form-control">
                    <option *ngFor="let subbreed of breedList">{{ subbreed | titlecase }}</option>
            </select>    
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" (click)="onClick()">Fetch dog!</button>
        </div>
    </div>
</div>