#Header {
    font: Arial;
    height: 500px;
    color: white;
    font-size: 4em;
    background-image: url("https://es.holidog.com/Content/images/fonds/homepages/goholiday_bg_2000.jpg");
    padding-top: 100px;
    padding-left: 1150px;
}