#Header {
    font: Arial;
    object-fit: contain;
    height: 400px;
    color: #303a2c;
    font-size: 400%;
    background-image: url("https://es.holidog.com/Content/images/fonds/homepages/goholiday_bg_2000.jpg");
    background-size: 85% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-left: 55%;
}